---
import Layout from "../../layouts/Layout.astro";

import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import Project from "@/components/Project.astro";
import TechPill from "@/components/TechPill.astro";
import About from "@/components/About.astro";

import ProjectsData from "@/data/projects.json";
import { technologies } from "@/data/technologies.json";
import Skills from "@/components/Skills.astro";
import { getLangFromUrl } from "@/i18n/utils";
import type { ActionError } from "astro:actions";

const lang = getLangFromUrl(Astro.url);
const projectsImgs = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png}"
);
const imagesArray = Object.entries(projectsImgs);
---

<Layout
  title="CaperAsDev"
  description="Kevin Hincapie, Colombian web developer passionate about technology and creativity"
>
  <main>
    <Hero />
    <Section
      title="Projects"
      icon="briefcase"
      customClass="projects-wrapper"
      identifier="projects"
    >
      {
        ProjectsData.map((project) => (
          <Project
            title={project.header[lang].title}
            description={project.header[lang].description}
            techsIcon={project.techsIcon}
            links={project.links}
            images={imagesArray.filter((image) =>
              image[0].includes(project.tag)
            )}
            notes={project.notes[lang]}
          />
        ))
      }
    </Section>
    <Section title="Hard Skills" icon="puzzle" customClass="techs-wrapper">
      <p>
        These are the web development tools I use most frequently in my
        projects:
      </p>
      {
        technologies.map((project) => (
          <TechPill {...project} description={project.description[lang]} />
        ))
      }
    </Section>
    <Section icon="windsock" title="Soft Skills" identifier="skills">
      <Skills />
    </Section>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 50px;
    place-items: center;
  }

  @media screen and (min-width: 768px) {
    main {
      padding-top: 100px;
    }
  }
</style>
