---
import FlipImg from "./FlipImg.astro";
import aboutData from "@/data/about.json"
import IconAnchor from "./IconAnchor.astro";
---

<div class="main-container">
  <header>
    <FlipImg />
    <div class="Bio">
      <p>Diseñador industrial por Elección </p>
      <p>Artista por Pasión</p>
      <p>Programador por Curiosidad</p>
      <p>Ser Humano por Defecto</p>
    </div>
  </header>
  <div class="social-wrapper">
    <h3>
      <span>CaperA</span>
      <div class="scene">
        <div class="flip-wrapper">
          {aboutData.map(({nickname, face}) => (
            <span class={`face ${face}__face`}>{nickname}</span>
            ))}
        </div>
      </div>
    </h3>
    <div class="scene social-links">
      <div class="flip-wrapper">
        {aboutData.map(profile => (
          <ul class={`face ${profile.face}__face`}>
            {profile.links.map(iconInfo => (
              <li>
                <IconAnchor 
                  icon={iconInfo.icon}
                  link={iconInfo.link}
                  label={iconInfo.label}
                  />
              </li>
            ))}
          </ul>
        ))}
      </div>
    </div>
  </div>
  <div class="scene biography">
    <div class="flip-wrapper">
      {aboutData.map(bio => (
        <div class={`face ${bio.face}__face  about-me__text`}>
          {bio.biography.map(parr => (
            <p>{parr}</p>
          ))}
        </div>
      ))}
    </div>
  </div>
</div>

<style>

@media screen and (width >= 768px) {
  .main-container {
    display: grid;
    place-items: center;
    gap: 30px;
    margin-block: 20px;
  }

  header { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 3vw, 60px);
  }

  .social-wrapper {
    display: grid;
    place-items: center;
    width: fit-content;
  }
  .scene {
    perspective: 600px;
  }
  .flip-wrapper {
    --moveZ: 0;
    transition: transform 1s;
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;

    .face{
      position: absolute;
      transition: opacity 0.7s;
    }
    .front__face {
      opacity: 1;
    }
    .back__face {
      opacity: 0;
    }
  }

  .about-me__text {
    display: grid;
    gap: 20px;
  }

  h3 {
    display: flex;
    border-bottom: 2px solid var(--blue-200);
    padding: 12px;
    padding-bottom: 6px;
    border-radius: 50px;

    .scene {
      width: 3.5ch;
      height: 1lh;
      mix-blend-mode: luminosity;
    }
    .flip-wrapper {
      transform: translateZ(-.5lh);
    }
    .front__face {
      transform: translateZ(.5lh);
    }
    .back__face {
      transform:
      rotateX(90deg)
      translateZ(.5lh);
    }
  }
  .social-links {
    border: 2px solid var(--blue-200);
    border-top: none;
    background-color: lightseagreen;
    width: 80%;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-bottom-left-radius:40px 100%;
    border-bottom-right-radius:40px 100%;
    padding-block: 5px;

    .flip-wrapper {
      width: 90%;
      height: 45px;
    }
    .front__face {
      transform: translateZ(22.5px);
    }
    .back__face {
      transform:
      rotateX(90deg)
      translateZ(22.5px);
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      list-style: none;
    }
  }

  .biography {
    width: 100%;
    height: 600px;
    
    .flip-wrapper{
      --moveZ: -300px;
      transform-origin: center;
      transform: translateZ(-300px);

    }
    .front__face {
      transform: 
        translateZ(300px)
      ;
    }
    .back__face {
      transform:
      rotateX(90deg)
      translateZ(300px)
      ;
    }

  }
  .flip-wrapper.is-flipped {
    transform:
    translateZ(var(--moveZ))
      rotateX(-90deg)
    ;

    .front__face {
      opacity: 0;
    }
    .back__face {
      opacity: 1;
    }
  }
}
</style>

<script>
  const wrapper = document.querySelector('.flipImg__wrapper')
  const flipWrappers = document.querySelectorAll('.flip-wrapper')
  wrapper?.addEventListener('click', () => {
    wrapper.classList.toggle('is-flipped')
    flipWrappers.forEach(wrapper => {
      wrapper.classList.toggle('is-flipped')
    })
  })
</script>