---
import NavItem from "@/components/DesktopNavItem.astro";
import Popover from "@/components/Popover.astro";
import Linktree from "@/components/Linktree.astro";
import { getLangFromUrl } from "@/i18n/utils";
import { nav } from "@/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const links = nav[lang];
---

<nav>
  <ul>
    <NavItem title={links.projects.title} link={links.projects.link} />
    <NavItem title={links.about.title} link={links.about.link} />
    <Popover title={links.contact.title} targetID="linktree">
      <Linktree />
    </Popover>
  </ul>
</nav>

<style>
  nav {
    display: none;
    width: clamp(320px, 100%, 1024px);
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }
  }
  @media screen and (min-width: 768px) {
    nav {
      display: block;
    }
  }
</style>

<script>
  import { currentPage } from "@/js/utils";

  document.addEventListener("DOMContentLoaded", () => {
    const anchors: NodeListOf<HTMLAnchorElement> =
      document.querySelectorAll("nav a");

    currentPage({ anchors });

    window.addEventListener("hashchange", () => {
      currentPage({ anchors });
    });
  });
</script>
