---
import { Image } from "astro:assets";
import Goat from "@/assets/images/goat.png";
import IconAnchor from "@/components/IconAnchor.astro";
import CaperActus from "@/assets/images/caperActus.png";
import CaperAsDev from "@/assets/images/caperAsDev.png";
import info from "@/data/about.json";

const devInfo = info.find((profile) => profile.title == "caperasdev");
const artInfo = info.find((profile) => profile.title == "caperactus");
---

<footer>
  <section>
    <div data-profile="CaperAsDev">
      <Image src={CaperAsDev} alt={"A goat"} width={221} height={142} />
      <ul class="links-contanier">
        {
          devInfo?.links.map((iconInfo) => (
            <li>
              <IconAnchor
                icon={iconInfo.icon}
                link={iconInfo.link}
                label={iconInfo.label}
              />
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <Image class="goat" src={Goat} alt={"A goat"} />
    </div>
    <div data-profile="CaperActus">
      <Image src={CaperActus} alt={"A goat"} width={221} height={142} />
      <ul class="links-contanier">
        {
          artInfo?.links.map((iconInfo) => (
            <li>
              <IconAnchor
                icon={iconInfo.icon}
                link={iconInfo.link}
                label={iconInfo.label}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
  <p>
    Diseñado y codeado por <a
      href="https://github.com/CaperAsDev/Portfolio"
      target="_blank"
    >
      ♑︎
      <span> CaperAsDev </span>
      ♑︎
    </a>
  </p>
</footer>
<style>
  footer {
    --border-clr: oklch(0.8 0.07 300 / 0.8);
    height: fit-content;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: oklch(0.3 0.05 300 / 0);
    padding: 20px;
    margin-top: 5px;

    p {
      text-align: center;
      text-wrap: balance;
      margin-top: 20px;

      a {
        color: var(--blue-300);
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }
    }
  }

  section {
    height: fit-content;
    width: 100%;
    display: grid;
    border-top: 1px solid var(--border-clr);
    border-bottom: 1px solid var(--border-clr);

    div {
      width: 100%;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        gap: 10px;
        list-style: none;
      }

      img {
        display: none;
      }
    }

    div:nth-child(1) {
      justify-content: start;
      mix-blend-mode: hard-light;

      ul {
        padding: 5px;
        border-left: 1px solid var(--border-clr);
        border-bottom-left-radius: 15px;
        border-bottom: 1px solid var(--border-clr);
      }

      &::after {
        content: attr(data-profile);
        display: flex;
        font-size: var(--fs-m);
        align-items: center;
        margin-left: 10px;
      }

      a {
        --clr: var(--pink-100);
        --bg-clr: var(--blue-600);
      }
    }

    div:nth-child(3) {
      justify-content: end;
      align-items: center;
      mix-blend-mode: hard-light;

      ul {
        padding: 5px;
        border-right: 1px solid var(--border-clr);
        border-top-right-radius: 15px;
        border-top: 1px solid var(--border-clr);
      }

      &::before {
        content: attr(data-profile);
        display: flex;
        font-size: var(--fs-m);
        align-items: center;
        margin-right: 10px;
      }

      a {
        --clr: var(--blue-100);
        --bg-clr: var(--pink-600);
      }
    }
  }

  div:has(.goat) {
    display: none;
  }

  @media screen and (width >= 768px) {
    section {
      img {
        height: 80%;
        width: auto;
        object-fit: contain;
      }
    }
    div:has(.goat) {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;

      img {
        position: absolute;
        height: 60px;
        width: 60px;
        scale: 1.5;
        display: block;
      }
    }
  }

  @media screen and (width >= 1024px) {
    footer {
      margin-top: 80px;
    }
    section {
      height: 200px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border: none;
      border-top: 2px solid var(--border-clr);

      div {
        height: 100%;

        &:nth-child(odd) {
          display: flex;
          gap: 10px;
          padding: 10px;
          mix-blend-mode: screen;
          width: fit-content;

          img {
            display: block;
          }

          &::after,
          &::before {
            content: none;
          }

          ul {
            border: none;
            flex-direction: column;
          }
        }

        &:nth-child(3) {
          flex-direction: row-reverse;
        }
      }
    }

    div:has(.goat) {
      position: relative;
      scale: 1.3;
      transform-origin: bottom;
      width: auto;
      height: 100%;

      &::after {
        content: "";
        position: absolute;
        backdrop-filter: blur(10px);
        z-index: -1;
        height: 70%;
        width: 100%;
        scale: 1.4;
        top: -10px;
        left: 0;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-top: 2px solid var(--border-clr);
      }

      img {
        position: static;
        height: 100%;
        width: auto;
        scale: 1;
      }
    }
  }
</style>
