---
import {Icon} from 'astro-icon/components'
import Project from './Project.astro'
import ProjectsData from '@/data/projects.json'
import type { ImageMetadata } from 'astro';

const projectsImgs = import.meta.glob<{default: ImageMetadata}>('/src/assets/images/*.{jpeg,jpg,png}')
const imagesArray = Object.entries(projectsImgs)

---
<section class="wrapper">
  <h2>
    <Icon name="tabler:briefcase" width={30} height={30} />
    <span>Proyectos</span>
  </h2>
  <section class="projects-wrapper">
    {ProjectsData.map(project=> (
      <Project 
        title={project.title}
        description={project.description}
        techsIcon={project.techsIcon}
        links={project.links}
        images={imagesArray.filter(image => image[0].includes(project.tag))}

      />
    ))}
  </section>
</section>
<style>
  .wrapper {
    width: clamp(300px, 100%, 1024px);
    padding-inline: clamp(5px,5vw, 50px);
    display: grid;
    gap: 20px;
    height: fit-content;

    h2 {
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        mix-blend-mode: luminosity;

        path{
          stroke-width: 1.5px;
        }
      }
    }
  }

  @media screen and (width >= 768px) {
    
    .projects-wrapper{
      display: grid;
      place-items: center;
      padding-top: 30px;
    }
  }

  @media screen and (width >= 1440px) {
    .wrapper {
      width: clamp(1024px, 100%, 1280px);

      h2{
        svg{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
</style>